AWSTemplateFormatVersion: '2010-09-09'
Description: >
  AWS IaaS stack for the OpenShift nested-virtualization lab. Creates the VPC,
  subnet, internet gateway, route table, security group, imported EC2 key pair,
  {{ virt_host.name }} hypervisor instance, and the guest EBS volumes attached to the
  hypervisor.

Parameters:
  LabPrefix:
    Type: String
    Default: workshop
    AllowedPattern: '^[a-zA-Z0-9-]+$'
    Description: Prefix used for AWS resource names and tags.

  AvailabilityZone:
    Type: AWS::EC2::AvailabilityZone::Name
    Default: {{ availability_zone }}
    Description: Availability Zone used for the VPC subnet, instance, and EBS volumes.

  VpcCidr:
    Type: String
    Default: 10.0.0.0/16
    Description: CIDR block for the lab VPC.

  PublicSubnetCidr:
    Type: String
    Default: 10.0.0.0/20
    Description: CIDR block for the public subnet that hosts {{ virt_host.name }}.

  VirtHostPrivateIp:
    Type: String
    Default: 10.0.8.207
    Description: Static private IP for {{ virt_host.name }}.

  AdminIngressCidr:
    Type: String
    Default: 0.0.0.0/0
    Description: Source CIDR allowed to access SSH and ICMP on {{ virt_host.name }}.
    AllowedPattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}/([0-9]|[12][0-9]|3[0-2])$'

  VirtHostInstanceType:
    Type: String
    Default: m5.metal
    Description: EC2 instance type for {{ virt_host.name }}.

  RedHatRhelPrivateAmiId:
    Type: AWS::EC2::Image::Id
    Description: Private or shared Red Hat RHEL AMI ID used for {{ virt_host.name }}.

  ImportedKeyPairName:
    Type: String
    Default: virt-lab-key
    AllowedPattern: '^[a-zA-Z0-9._@-]+$'
    Description: AWS EC2 key pair name to create and associate with {{ virt_host.name }}.

  ImportedPublicKeyMaterial:
    Type: String
    NoEcho: true
    Description: OpenSSH-formatted public key material imported into the EC2 key pair.

  Ec2UserPasswordHash:
    Type: String
    NoEcho: true
    Description: SHA-512 password hash assigned to ec2-user for Cockpit login.

  RootVolumeSizeGiB:
    Type: Number
    Default: {{ virt_host.root_volume.size_gib }}
    Description: Root volume size for {{ virt_host.name }}.

  RootVolumeIops:
    Type: Number
    Default: {{ virt_host.root_volume.iops }}
    Description: Root gp3 IOPS for {{ virt_host.name }}.

  RootVolumeThroughput:
    Type: Number
    Default: {{ virt_host.root_volume.throughput_mbps }}
    Description: Root gp3 throughput (MiB/s) for {{ virt_host.name }}.

Resources:
  LabVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsHostnames: true
      EnableDnsSupport: true
      Tags:
        - Key: Name
          Value: !Sub '${LabPrefix}-vpc'

  LabInternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: !Sub '${LabPrefix}-igw'

  LabVpcGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      InternetGatewayId: !Ref LabInternetGateway
      VpcId: !Ref LabVpc

  LabPublicSubnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref LabVpc
      AvailabilityZone: !Ref AvailabilityZone
      CidrBlock: !Ref PublicSubnetCidr
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${LabPrefix}-subnet-public1-${AvailabilityZone}'

  LabPublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref LabVpc
      Tags:
        - Key: Name
          Value: !Sub '${LabPrefix}-rtb-public'

  LabDefaultRoute:
    Type: AWS::EC2::Route
    DependsOn: LabVpcGatewayAttachment
    Properties:
      RouteTableId: !Ref LabPublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref LabInternetGateway

  LabPublicRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref LabPublicRouteTable
      SubnetId: !Ref LabPublicSubnet

  VirtHostSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for {{ virt_host.name }}
      GroupName: {{ virt_host.name }}
      VpcId: !Ref LabVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: !Ref AdminIngressCidr
        - IpProtocol: icmp
          FromPort: -1
          ToPort: -1
          CidrIp: !Ref AdminIngressCidr
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0
      Tags:
        - Key: Name
          Value: {{ virt_host.name }}

  VirtHostKeyPair:
    Type: AWS::EC2::KeyPair
    Properties:
      KeyName: !Ref ImportedKeyPairName
      PublicKeyMaterial: !Ref ImportedPublicKeyMaterial
      Tags:
        - Key: Name
          Value: !Ref ImportedKeyPairName

  VirtHostInstance:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: !Ref RedHatRhelPrivateAmiId
      InstanceType: !Ref VirtHostInstanceType
      AvailabilityZone: !Ref AvailabilityZone
      KeyName: !Ref VirtHostKeyPair
      SubnetId: !Ref LabPublicSubnet
      PrivateIpAddress: !Ref VirtHostPrivateIp
      SecurityGroupIds:
        - !Ref VirtHostSecurityGroup
      SourceDestCheck: true
      BlockDeviceMappings:
        - DeviceName: {{ virt_host.root_volume.device_name }}
          Ebs:
            VolumeType: {{ virt_host.root_volume.volume_type }}
            VolumeSize: !Ref RootVolumeSizeGiB
            Iops: !Ref RootVolumeIops
            DeleteOnTermination: true
      UserData:
        Fn::Base64: !Sub |
          #cloud-config
          package_update: true
          package_upgrade: false
          packages:
            - cockpit
          ssh_pwauth: false
          users:
            - default
            - name: ec2-user
              lock_passwd: false
              inactive: false
              passwd: ${Ec2UserPasswordHash}
              ssh_authorized_keys:
                - ${ImportedPublicKeyMaterial}
          runcmd:
            - [usermod, -U, ec2-user]
            - [systemctl, enable, --now, cockpit.socket]
      Tags:
        - Key: Name
          Value: {{ virt_host.name }}
        - Key: Role
          Value: virt-host

{% for volume in guest_volumes %}
  Volume{{ volume.logical_suffix }}:
    Type: AWS::EC2::Volume
    Properties:
      AvailabilityZone: !Ref AvailabilityZone
      VolumeType: {{ volume.volume_type }}
      Size: {{ volume.size_gib }}
      Iops: {{ volume.iops }}
      Throughput: {{ volume.throughput_mbps }}
      Tags:
        - Key: Name
          Value: {{ volume.name }}
        - Key: GuestDisk
          Value: {{ volume.name }}
        - Key: Purpose
          Value: {{ volume.purpose }}

  AttachVolume{{ volume.logical_suffix }}:
    Type: AWS::EC2::VolumeAttachment
    Properties:
      Device: {{ volume.aws_device_name }}
      InstanceId: !Ref VirtHostInstance
      VolumeId: !Ref Volume{{ volume.logical_suffix }}

{% endfor %}
Outputs:
  VpcId:
    Description: VPC ID created for the lab.
    Value: !Ref LabVpc

  PublicSubnetId:
    Description: Public subnet ID used by {{ virt_host.name }}.
    Value: !Ref LabPublicSubnet

  SecurityGroupId:
    Description: Security group attached to {{ virt_host.name }}.
    Value: !Ref VirtHostSecurityGroup

  VirtHostInstanceId:
    Description: EC2 instance ID for {{ virt_host.name }}.
    Value: !Ref VirtHostInstance

  VirtHostPrivateIp:
    Description: Private IP address assigned to {{ virt_host.name }}.
    Value: !Ref VirtHostPrivateIp

  ImportedKeyPairName:
    Description: EC2 key pair created for {{ virt_host.name }}.
    Value: !Ref VirtHostKeyPair
