---
apiVersion: flows.netobserv.io/v1beta2
kind: FlowCollector
metadata:
  name: {{ openshift_post_install_netobserv_flowcollector_name }}
spec:
  namespace: {{ openshift_post_install_netobserv_flowcollector_namespace }}
  deploymentModel: Service
  agent:
    type: eBPF
    ebpf:
      sampling: {{ openshift_post_install_netobserv_flowcollector_sampling }}
      cacheActiveTimeout: {{ openshift_post_install_netobserv_flowcollector_cache_active_timeout }}
      cacheMaxFlows: {{ openshift_post_install_netobserv_flowcollector_cache_max_flows }}
      privileged: {{ openshift_post_install_netobserv_flowcollector_ebpf_privileged | bool | lower }}
      features: {{ openshift_post_install_netobserv_flowcollector_ebpf_features | to_json }}
      excludeInterfaces: {{ openshift_post_install_netobserv_flowcollector_ebpf_exclude_interfaces | to_json }}
  processor:
    consumerReplicas: {{ openshift_post_install_netobserv_flowcollector_processor_replicas }}
    subnetLabels:
      openShiftAutoDetect: {{ openshift_post_install_netobserv_flowcollector_subnet_labels.openShiftAutoDetect | bool | lower }}
      customLabels: {{ openshift_post_install_netobserv_flowcollector_subnet_labels.customLabels | to_json }}
    metrics:
      disableAlerts: {{ openshift_post_install_netobserv_flowcollector_disable_alerts | to_json }}
  consolePlugin:
    enable: {{ openshift_post_install_netobserv_flowcollector_enable_console_plugin | bool | lower }}
  networkPolicy:
    enable: {{ openshift_post_install_netobserv_flowcollector_enable_network_policy | bool | lower }}
  prometheus:
    querier:
      enable: {{ openshift_post_install_netobserv_flowcollector_enable_prometheus | bool | lower }}
  loki:
    enable: true
    mode: LokiStack
    lokiStack:
      name: {{ openshift_post_install_netobserv_loki_stack_name }}
      namespace: {{ openshift_post_install_netobserv_loki_namespace }}
