---
apiVersion: loki.grafana.com/v1
kind: LokiStack
metadata:
  name: {{ openshift_post_install_netobserv_loki_stack_name }}
  namespace: {{ openshift_post_install_netobserv_loki_namespace }}
spec:
  size: {{ openshift_post_install_netobserv_loki_stack_size }}
  managementState: Managed
  storageClassName: {{ openshift_post_install_netobserv_loki_storage_class_name }}
  template:
    compactor:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    distributor:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    gateway:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    indexGateway:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    ingester:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    querier:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
    queryFrontend:
      nodeSelector: {{ openshift_post_install_netobserv_loki_node_selector | to_json }}
      tolerations: {{ openshift_post_install_netobserv_loki_tolerations | to_json }}
  storage:
    schemas:
      - effectiveDate: "2020-10-11"
        version: v13
    secret:
      name: {{ openshift_post_install_netobserv_loki_storage_secret_name }}
      type: s3
  tenants:
    mode: openshift-network
