---
apiVersion: v1
kind: Secret
metadata:
  name: {{ openshift_post_install_odf_external_secret_name }}
  namespace: {{ openshift_post_install_odf_external_storage_cluster_namespace }}
type: Opaque
data:
  external_cluster_details: >-
    {{ openshift_post_install_odf_external_cluster_details_effective_b64 }}
