[{{ lab_host_memory_oversubscription.zram.device_name }}]
zram-size = {{ lab_host_memory_oversubscription.zram.size_expression }}
compression-algorithm = {{ lab_host_memory_oversubscription.zram.compression_algorithm }}
