[{{ lab_host_memory_oversubscription_settings.zram.device_name }}]
zram-size = {{ lab_host_memory_oversubscription_settings.zram.size_expression }}
compression-algorithm = {{ lab_host_memory_oversubscription_settings.zram.compression_algorithm }}
