#cloud-config
fqdn: {{ mirror_registry_role_vm_fqdn }}
preserve_hostname: false
users:
  - default
  - name: {{ mirror_registry_vm.access.admin_user }}
    groups: [wheel]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: {{ mirror_registry_vm.access.lock_password | to_json }}
{% if mirror_registry_vm.access.ssh_authorized_keys | length > 0 %}
    ssh_authorized_keys:
{% for ssh_key in mirror_registry_vm.access.ssh_authorized_keys %}
      - {{ ssh_key }}
{% endfor %}
{% endif %}
{% if mirror_registry_vm.access.admin_password | length > 0 %}
    passwd: {{ mirror_registry_vm.access.admin_password | password_hash('sha512') }}
{% endif %}

ssh_pwauth: {{ mirror_registry_vm.access.ssh_password_auth | to_json }}
{% if mirror_registry_vm.subscription.enabled %}

rh_subscription:
{% if mirror_registry_vm.subscription.activation_key | length > 0 and mirror_registry_vm.subscription.organization_id | length > 0 %}
  activation-key: "{{ mirror_registry_vm.subscription.activation_key }}"
  org: "{{ mirror_registry_vm.subscription.organization_id }}"
{% else %}
  username: "{{ mirror_registry_vm.subscription.username }}"
  password: "{{ mirror_registry_vm.subscription.password }}"
{% endif %}
{% if mirror_registry_vm.subscription.server_hostname | length > 0 %}
  server-hostname: "{{ mirror_registry_vm.subscription.server_hostname }}"
{% endif %}
{% endif %}
