apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ openshift_post_install_virtualization_ha_operatorgroup_name }}
  namespace: {{ openshift_post_install_virtualization_ha_namespace }}
spec: {}
