apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ openshift_post_install_virtualization_nhc_subscription_name }}
  namespace: {{ openshift_post_install_virtualization_ha_namespace }}
spec:
  channel: {{ openshift_post_install_virtualization_nhc_channel }}
  installPlanApproval: Automatic
  name: {{ openshift_post_install_virtualization_nhc_package_name }}
  source: {{ openshift_post_install_virtualization_nhc_source }}
  sourceNamespace: >-
    {{ openshift_post_install_virtualization_nhc_source_namespace }}
