---
lab_default_password: {{ bastion_stage_rendered_lab_default_password | quote }}
lab_rhsm_activation_key: {{ bastion_stage_rendered_lab_rhsm_activation_key | quote }}
lab_rhsm_organization_id: {{ bastion_stage_rendered_lab_rhsm_organization_id | quote }}
lab_rhsm_username: {{ bastion_stage_rendered_lab_rhsm_username | quote }}
lab_rhsm_password: {{ bastion_stage_rendered_lab_rhsm_password | quote }}
lab_rhsm_server_hostname: {{ bastion_stage_rendered_lab_rhsm_server_hostname | quote }}
