---
lab_default_password: >-
  {{ on_prem_bastion_stage_rendered_lab_default_password | quote }}
lab_rhsm_activation_key: >-
  {{ on_prem_bastion_stage_rendered_lab_rhsm_activation_key | quote }}
lab_rhsm_organization_id: >-
  {{ on_prem_bastion_stage_rendered_lab_rhsm_organization_id | quote }}
lab_rhsm_username: >-
  {{ on_prem_bastion_stage_rendered_lab_rhsm_username | quote }}
lab_rhsm_password: >-
  {{ on_prem_bastion_stage_rendered_lab_rhsm_password | quote }}
lab_rhsm_server_hostname: >-
  {{ on_prem_bastion_stage_rendered_lab_rhsm_server_hostname | quote }}
lab_operator_ssh_public_key: >-
  {{ on_prem_bastion_stage_rendered_lab_operator_ssh_public_key | quote }}
