---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ openshift_post_install_web_terminal_tooling_imagestream_name }}
  namespace: {{ openshift_post_install_web_terminal_namespace }}
