apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ openshift_aap.operatorgroup_name }}
  namespace: {{ openshift_aap.namespace }}
spec:
  targetNamespaces:
    - {{ openshift_aap.namespace }}
