---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ openshift_post_install_odf_operatorgroup_name }}
  namespace: {{ openshift_post_install_odf_storage_cluster_namespace }}
spec:
  targetNamespaces:
    - {{ openshift_post_install_odf_storage_cluster_namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ openshift_post_install_odf_subscription_name }}
  namespace: {{ openshift_post_install_odf_storage_cluster_namespace }}
spec:
  channel: {{ openshift_post_install_odf_channel }}
  installPlanApproval: Automatic
  name: {{ openshift_post_install_odf_package_name }}
  source: {{ openshift_post_install_odf_source }}
  sourceNamespace: {{ openshift_post_install_odf_source_namespace }}
